TankSurvivors/Logs
TankSurvivors/obj
TankSurvivors/Library
TankSurvivors/UserSettings/Layouts/default-2021.dwlt
TankSurvivors/*Assembly-CSharp*
TankSurvivors/*.apk
TankSurvivors/Tank.apk
TankSurvivors/Assets/Firebase
TankSurvivors/Assets/google-services.json
TankSurvivors/Assets/google-services.json.meta